<a href="/lists/<%= @list.id %>/items/new">Add a new item to <%= @list.name %>!</a>

<table>
  <tr>
    <th>
      <%= @list.name %>'s unfinished items
    </th>
  </tr>
  <% @list.items.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td>
        <form action="/items/<%=item.id%>" method="get">
          <input type="submit" value="View Item">
        </form>
      </td>
      <td>
        <form action="/items/<%=item.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Mark as Complete">
        </form>
      </td>
    </tr>
  <% end %>
</table>
