<a href="/lists/<%= @list.id %>/items/new">Add a new item to <%= @list.name %>!</a>

<table>
  <tr>
    <th>
      <%= @list.name %>'s unfinished items
    </th>
  </tr>
  <% @list.items.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= item.due_date %>
      </td>
    </tr>
  <% end %>
</table>
