<% @item.errors.full_messages.each do |error| %>
  <h3><%= error.upcase %> DINGUS</h3>
<% end %>

<h4>Give your new item a name!</h4>

<form action="/items" method="post">

  <label for="item_name">Name</label>
  <input id="item_name" type="text" name="item[name]" value="<%= @item.name %>">
  <input id="item_list_id" type="hidden" name="item[list_id]" value="<%= @item.list_id %>">

  <label for="item_due_date">Due Date</label>
  <input id="item_due_date" type="date" name="item[due_date]" value="<%= @item.due_date %>">

  <label for="item_comments">Comments</label>
  <input id="item_comments" type="text" name="item[comments]" value="<%= @item.comments %>" maxlength="60">

  <input class="btn btn-default btn-xs" type="submit" value="Add">
</form>
